<div class="flex items-center justify-center h-full">
  <div id="cube" class="border-solid border-2 size-100 flex flex-grid flex-wrap gap-1">
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>
    <div class="border-solid border-2 size-30"> </div>

  </div>
</div>