<div class="flex items-center justify-center h-full">
  <div id="cube" class="border-solid border-2 size-100 flex flex-grid flex-wrap gap-1 justify-center items-center">
    <div class="border-solid border-2 size-30 bg-red-600"> </div>
    <div class="border-solid border-2 size-30 bg-blue-700"> </div>
    <div class="border-solid border-2 size-30 bg-green-600"> </div>
    <div class="border-solid border-2 size-30 bg-white-600"> </div>
    <div class="border-solid border-2 size-30 bg-yellow-400"> </div>
    <div class="border-solid border-2 size-30 bg-orange-500"> </div>
    <div class="border-solid border-2 size-30 bg-white-600"> </div>
    <div class="border-solid border-2 size-30 bg-orange-500"> </div>
    <div class="border-solid border-2 size-30 bg-red-600"> </div>

  </div>
</div>