<div id="main" >
    <div id="top"> </div>
    <div id="bottom"> 
        <div id="one">
          <%= link_to rubiks_path, :rubiks %>
        </div>
        <div id="two"> </div>
        <div id="three"> </div>
    </div>

</div>